[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "==1.2.3"
scipy = "*"
dash = "*"
black = "==18.9b0"
dbconnect = "*"
psycopg2-binary = "*"
jupyter = "*"
python-dotenv = "*"
pystan = "*"
importlib-metadata = "==1.7.0"
cython = "*"

[requires]
python_version = "3.7"
